@media screen and (max-width: 600px) {
    .side-menu{
        display: none;
    
    }
    .bg-1-body{
        height: 100vh;
        padding:2vw!important
    }
    .card-side{
        display: none;
    }
    .search{
        display: none;
    }
    .notif{
        display: none;
    }
    .main-side{
        margin: 1vw;
    }
    .card-tengah{
        width: 94vw;
        border-radius: 10px;
        height: 33vw;
        padding: 4vw 5vw;
    }
    .card-tengah-s{
        width: 94vw;
        border-radius: 10px;
        height: 50vw;
        padding: 4vw 5vw;
        margin-top: 2vw !important;
    }
    .btn-custom-tengah{
    width: 30vw;
    padding: 1.6vw;
    font-weight: 600;
    color: #194AF1;
    border: none;
    border-radius: 8px;
    font-size: 2vw;
    background-color: #FFFFFF;
}
.flex-custom{
    display: inline;
}
.card-side-2 h5{
    font-size: 3.5vw;
    font-weight: 600;
    margin-bottom: -2vw;
}
.orang-angka{
    font-size: 2vw;
    margin-top: 5.3vw;
}
#chart{
    width: 80vw;

}
#chart-kelas{
    width: 20vw;
    margin-top: -4vw;

}
#chart-guru{
    width: 20vw;
    margin-top: -4vw;

}
.des-angka-merah{
    font-size: 1.3vw;
    font-weight:600;
}
.des-angka-hijau{
    font-size: 1.3vw;
    font-weight:600;
}
.chart-g{
    margin-top: 6vw;
}
.mts-4{
    margin-top:4vw!important
}
.btn-custom-side{
    width: 30vw;
    padding: 1.5vw;
    font-weight: 400;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 2vw;
    background-color: #194AF1;
}
.card-side-2{
    width: 94vw;
    border-radius: 10px;
    padding: 3vw 3vw;
    height: 29vw;
    margin-top: -4vw;
    margin-left: 1vw;
    background-color: #FFFFFF;
}
.dot{
    width: 2.5vw;
    border-radius:5px;
    margin-right: 0.6vw;
    height:1.6vw;
    background-color:#194AF1;
}
.dot-text{
    margin-top: -0.5vw;
    font-size: 2vw;
    font-weight:600;
}
.card-tengah-2{
    width: 46vw;
    border-radius: 10px;
    padding: 3vw 3vw;
    height: 29vw;
    background-color: #FFFFFF;
    margin-top: 2vw;

}
.card-tengah-2 h2{
    font-size: 6vw;
}
.img-wrapper{
    width: 33vw;
    margin-top: -3vw;
}
.img-wrapper img{
    width: 100%;
}
.card-side-lampu{
    display: none;
}
.card-side-pintu{
    display: none;
}
.mts-5{
    margin-top:1vw;
}
.kelas-drop span{
    font-size: 2vw;
    font-weight: 700;
}
.suhu-text-card{
    display: none;
}
.suhu-control{
    margin-top: 15vw;
    margin-bottom: 15vw;
    margin-left: 12vw;
}
.suhu-control span{
    font-size: 12vw;
    margin: 0vw 5vw;
    color: #608BFF;
}

.suhu-control h1{
    font-size: 16vw;
    color: #608BFF;
}
.mts-4s{
    margin-top:-5vw !important;
}
.control-nav{
    display: flex;
}
.side-card-items img{
    height: 10vw;
    width: 10vw;
    margin-top: 1.7vw;
    margin-right: 2vw;
}
.card-moni-utama{
    margin-top: 1vw;
    width: 85vw;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 2vw;
    margin-bottom: 1vw;
}
.side-card-items{
    margin-top: 5vw;
}
.side-card-items span{
    font-size: 3vw;
    font-weight: 700;
}
.side-card-items input{
    width: 60vw;
    height: 5vw;
}
.side-card-items p{
    font-size: 3vw;
    font-weight:400;
    margin-left:1vw;
    margin-top:1vw;
}
.control-nav-items{
    width: 12vw;
    height: 12vw;
    padding: 2vw 3vw;
    border-radius: 50%;
    background-color: #F4F3F6;
    border: solid 0.8vw #F4F3F6;
    margin-left: 10vw ;
    margin-top: 5vw;
}
.control-nav-items a{
    text-decoration: none;
}
.ctr-biasa{
    color: #000000;
}
.ctr-act{
    border: solid 0.8vw #194AF1;
    padding: -1vw -1vw;
}
.ctr-warna-act{
    color: #194AF1;
}
.card-side-suhu{
    margin-top: 0;
    margin-left: 0;
    width: 88vw;
    height: 145vw;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5vw;
}
    .selamat-datang{
        font-size: 3vw;
    }
    .selamat-nama{
        font-size: 5vw;
        margin-top:-0.5vw;
        margin-bottom: 4vw;
    }
    .card-tengah h2{
        font-size: 5vw;
    }
    .card-tengah p{
        font-size: 2vw;
        margin: 0;
    }
  }