label {
    font-size: 18px;
    font-weight: bold;
  }
  
  input.bg-grey {
    background-color: #f3f3f3;
    border: none;
    margin-bottom: 20px;
  }
  
  button.btn-1 {
    width: 280px;
    height: 50px;
    font-size: 1.2vw;
    color: white;
    background-color: #4385f5;
    border-radius: 10px;
    border: none;
  }
  
  #toggle {
    position: absolute;
    /* top: 24.2vw; */
    right: 40vw;
    margin-top: -3.3vw;
    color: #808080;
    cursor: pointer;
    z-index: 9999;
  }
  
  #toggle2 {
    position: absolute;
    /* top: 24.2vw; */
    right: 23.4vw;
    margin-top: -2.3vw;
    color: #808080;
    cursor: pointer;
    z-index: 9999;
  }
  .login-wrapper {
    padding-top: 10vw;
  }
  .login-form input {
    font-size: 1vw;
    padding: 0.7vw 1vw;
    width: 35vw;
  }
  .login-form {
    padding-top: 2vw;
  }
  
  .strength {
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    bottom: 5px;
  }
  
  #strength-bar {
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
  }
  
  p {
    width: 100%;
    margin-top: 20px;
  }
  
  span.link-login {
    font-size: 1vw;
  }