/* STYLE LOGIN-REGISTER */

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100px;
}

.img {
  width: 30vw;
  height: 50vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/Ilustrasi.jpg);
}

.wrapper h1 {
  font-size: 30px;
  font-weight: bold;
}

.margin-h1 {
  margin-top: 50px;
  margin-left: 130px;
  margin-bottom: 50px;
}

.margin-h2 {
  margin-top: 9vw;
  margin-left: 130px;
  margin-bottom: 4vw;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input.bg-grey {
  background-color: #f3f3f3;
  border: none;
  margin-bottom: 20px;
}

button.btn-1 {
  width: 280px;
  height: 50px;
  font-size: 1.2vw;
  color: white;
  background-color: #4385f5;
  border-radius: 10px;
  border: none;
}

#toggle {
  position: absolute;
  /* top: 24.2vw; */
  right: 18vw;
  margin-top: -3.3vw;
  color: #808080;
  cursor: pointer;
  z-index: 9999;
}

#toggle2 {
  position: absolute;
  /* top: 24.2vw; */
  right: 23.4vw;
  margin-top: -2.3vw;
  color: #808080;
  cursor: pointer;
  z-index: 9999;
}
.login-wrapper {
  padding-top: 10vw;
}
.login-form input {
  font-size: 1vw;
  padding: 0.7vw 1vw;
  width: 35vw;
}
.login-form {
  padding-top: 2vw;
}

.strength {
  width: 25%;
  display: inline-block;
  position: relative;
  height: 100%;
  bottom: 5px;
}

#strength-bar {
  background-color: #dcdcdc;
  height: 10px;
  position: relative;
}

p {
  width: 100%;
  margin-top: 20px;
}

span.link-login {
  font-size: 1vw;
}

/* .login-side img{
    height: 100%;
  }
  .login-side{
    height: 100vh;
  } */

/* RESPONSIVE HP */
@media screen and (max-width: 780px) {
  .custom-flex {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    height: 50vh;
  }

  .img {
    width: 100%;
    height: 65vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../img/ilustrasi-res.png);
  }

  .wrapper h1 {
    font-size: 7vw;
    font-weight: bold;
  }

  label {
    font-size: 4.5vw;
    font-weight: bold;
    margin-left: 8vw;
  }

  .margin-h1 {
    margin-top: 10vw;
    margin-left: 12vw;
    margin-bottom: 6vh;
  }

  .margin-h2 {
    margin-top: 10vw;
    margin-left: 12vw;
    margin-bottom: 6vw;
  }

  input.bg-grey {
    margin-left: 8vw;
    margin-bottom: 4vw;
    width: 84vw;
  }

  #toggle {
    position: absolute;
    /* top: 24.2vw; */
    right: 17vw;
    margin-top: -12vw;
    color: #808080;
    cursor: pointer;
    z-index: 9999;
  }

  .wrapper img {
    display: none;
  }

  button.btn-1 {
    width: 50vw;
    height: 10vw;
    margin-left: 26vw;
    font-size: 5vw;
  }

  span.link-login {
    display: block;
    font-size: 3vw;
    margin-left: 33vw;
    margin-top: 2vh;
  }

  #strength-bar {
    width: 84vw;
    margin-left: 8vw;
  }

  p {
    margin-left: 8vw;
  }
}
